@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: linear-gradient(to top, #625877, #564e6d, #494363, #3d3a5a, #313050);    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-btn {
    background-color: #6c6b84;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.my-btn:hover {
    background-color: #56566a;
}