@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: linear-gradient(to bottom, #033257, #073b63, #0b4470, #0f4e7d, #12588a);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-btn {
    background-color: #16649c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.my-btn:hover {
    background-color: #12588a;
}